name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build project
        run: |
          npm ci
          npm run build

      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: |
            src
            package.json
            package-lock.json
            ecosystem.config.js
          target: "/home/ubuntu/LetUsCook-Backend"

      - name: Restart PM2 on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/LetUsCook-Backend
            npm ci --omit=dev
            pm2 reload LetUsCook-Backend || pm2 start ecosystem.config.js
            pm2 save
